 body {
     font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
     background-size: cover;
 }
 
 .top-bar,
 .top-bar ul {
     background-color: #ffffff !important;
 }
 
 hr {
     max-width: 90rem !important;
 }
 /* describe the font of h1 that is the child of the header (css combinators) */
 
 header>h1 {
     font: 800px;
     font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
     color: white;
 }
 /* styling the columns */
 
 .column {
     display: inline-block;
     padding: 10px;
     margin: 20px;
     box-sizing: border-box;
 }
 /* pagination */
 
 .center {
     text-align: center;
 }
 
 .pagination {
     display: inline-block;
 }
 
 .pagination a {
     color: black;
     float: left;
     padding: 8px 16px;
     text-decoration: none;
     transition: background-color .3s;
     border: 1px solid #ddd;
     margin: 0 4px;
 }
 
 .pagination a.active {
     background-color: #4CAF50;
     color: white;
     border: 1px solid #4CAF50;
 }
 
 .pagination a:hover:not(.active) {
     background-color: #ddd;
 }
 /* to fix the audio elemnt at the bottom */
 
 .fixedpos {
     position: fixed;
     bottom: 0;
     right: 0;
     width: 300px;
     border: 3px solid rgb(58, 68, 42);
 }
 /* gradient */
 
 #foot {
     padding: 20px;
     text-align: center;
     height: 100px;
     background: rgb(240, 238, 238);
     /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(12, 12, 12));
     /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(rgb(255, 255, 255), rgb(12, 12, 12));
     /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(rgb(255, 255, 255), rgb(12, 12, 12));
     /* For Firefox 3.6 to 15 */
     background: linear-gradient(rgb(255, 255, 255), rgb(12, 12, 12));
     /* Standard syntax */
 }
 /* rotating disk */
 
 #continues {
     margin: 50px;
     width: 210px;
     height: 220px;
     border-radius: 100px;
     background-image: url(../media/images/1b.png);
     -webkit-animation-name: spin;
     -webkit-animation-duration: 4000ms;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-timing-function: linear;
     -moz-animation-name: spin;
     -moz-animation-duration: 4000ms;
     -moz-animation-iteration-count: infinite;
     -moz-animation-timing-function: linear;
     -ms-animation-name: spin;
     -ms-animation-duration: 4000ms;
     -ms-animation-iteration-count: infinite;
     -ms-animation-timing-function: linear;
     animation-name: spin;
     animation-duration: 4000ms;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
 }
 
 @-ms-keyframes spin {
     from {
         -ms-transform: rotate(0deg);
     }
     to {
         -ms-transform: rotate(360deg);
     }
 }
 
 @-moz-keyframes spin {
     from {
         -moz-transform: rotate(0deg);
     }
     to {
         -moz-transform: rotate(360deg);
     }
 }
 
 @-webkit-keyframes spin {
     from {
         -webkit-transform: rotate(0deg);
     }
     to {
         -webkit-transform: rotate(360deg);
     }
 }
 
 @keyframes spin {
     from {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(360deg);
     }
 }
 /* boxshadow */
 
 #boxshadow {
     box-shadow: 10px 10px 5px grey;
 }
 /* videocover */
 
 #videocover {
     object-fit: cover;
 }
 
 .content {
     margin: 1.3rem auto;
     max-width: 90rem;
 }
 /* multiple column */
 
 .multiplecolumn {
     column-count: 2;
     column-gap: 40px;
     column-span: 2;
 }
 /* flexbox */
 
 .parentflex {
     display: flex;
     height: 300px;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: flex-end;
 }
 
 .flexchild {
     height: 200px;
     width: 200px;
     margin: auto;
     flex-grow: 0;
     flex-basis: auto;
     align-self: center;
 }
 /* remove list like style */
 
 #list {
     list-style-type: none;
     background-color: white;
 }
 /* responsive image */
 
 img .responsiveimage {
     width: 100%;
     height: auto;
 }
 /* foundation css */
 
 .no-js .top-bar {
     display: none;
 }
 
 @media screen and (min-width: 40em) {
     .no-js .top-bar {
         display: block;
     }
     .no-js .title-bar {
         display: none;
     }
 }
 /* foundation top image image */
 
 #firstorbit img {
     height: 700px;
     width: 100%;
     object-fit: cover;
 }
 
 .orbit-container {
     position: relative;
     height: 500px;
 }
 
 .orbit-caption {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(10, 10, 10, 0.9);
 }
 
 .orbit-caption p {
     position: relative;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     text-align: center;
     color: #fefefe;
     font-size: 48px;
     font-weight: 900;
 }
 
 @media screen and (max-width: 39.9375em) {
     .orbit-caption p {
         font-size: 12px;
         font-weight: 400;
     }
 }
 
 .orbit-bullets {
     display: none;
 }
 /* change id for image */
 
 .media-object-section img {
     height: 300px;
     width: auto;
 }
 /* Small line  */
 
 .line {
     width: 40px;
     height: 47px;
     border-bottom: 3px solid black;
     position: absolute;
 }
 /* margine for media-object */
 
 #media {
     padding-left: 200px;
     padding-right: 200px;
 }
 /* second orbit */
 
 #secondorbit img {
     object-fit: cover;
 }
 
 #videodiv {
     width: 100%;
     height: 50%;
 }
 
 video {
     object-fit: cover;
 }
 /* videocontainer */
 
 .videocontainer {
     position: relative;
 }
 
 .video-wrapper>video {
     width: 100%;
     vertical-align: middle;
 }
 
 .video-wrapper>video.has-media-controls-hidden::-webkit-media-controls {
     display: none;
 }
 
 .video-overlay-play-button {
     box-sizing: border-box;
     width: 100%;
     height: 100%;
     padding: 10px calc(50%);
     padding-top: 20%;
     position: absolute;
     top: 0;
     left: 0;
     display: block;
     opacity: 0.95;
     cursor: pointer;
     background-image: linear-gradient(transparent, #000);
     transition: opacity 150ms;
 }
 
 .video-overlay-play-button:hover {
     opacity: 1;
 }
 
 .video-overlay-play-button.is-hidden {
     display: none;
 }
 
 .play {
     background-position: center;
     width: 0;
     height: 0;
     border-top: 60px solid transparent;
     border-bottom: 60px solid transparent;
     border-left: 60px solid rgb(255, 255, 255);
 }
 /* style image */
 
 #simage {
     float: left;
     width: 50%;
 }
 
 #sizeimage {
     object-fit: cover;
 }
 /* thirdimage  section*/
 
 .thirdimage {
     background: url(../media/image/real.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     text-align: center;
     opacity: 0.8;
     height: 500px;
     padding: 20px;
 }
 
 #butonblack {
     background-color: black;
 }
 
 #butonblackit {
     background-color: black;
     filter: invert(100%);
 }
 
 #headingcolor {
     color: white;
     padding-top: 100px;
     font-size: 70px;
     text-align: left;
 }
 
 #brown {
     color: grey;
 }
 
 #buy {
     background-color: orange;
 }
 
 .align {
     text-align: center;
 }
 
 #contactcolor {
     color: white;
     text-align: left;
 }
 
 .bottom {
     max-width: 100%;
     height: auto;
     background-image: url();
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .iamgecover {
     max-width: 100%;
     height: auto;
 }